<main class='flex-center main-page'>
    <div class="container flex-center">
        <div class="serviceBox">
            <div class="icon flex-center" style='--i:#4eb7ff'>
                <mat-icon>architecture</mat-icon>
            </div>
            <div class="content">
                <h2>Design</h2>
                <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Odit nobis quae corrupti,
                culpa quasi nisi!</p>
            </div>
        </div>
        <div class="serviceBox">
            <div class="icon flex-center" style='--i:#fd6494'>
                <mat-icon>code</mat-icon>
            </div>
            <div class="content">
                <h2>Development</h2>
                <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Odit nobis quae corrupti,
                culpa quasi nisi!</p>
            </div>
        </div>
        <div class="serviceBox">
            <div class="icon flex-center" style='--i:#43f390'>
                <mat-icon>search</mat-icon>
            </div>
            <div class="content">
                <h2>SEO</h2>
                <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Odit nobis quae corrupti,
                culpa quasi nisi!</p>
            </div>
        </div>
        <div class="serviceBox">
            <div class="icon flex-center" style='--i:#ffb508'>
                <mat-icon>analytics</mat-icon>
            </div>
            <div class="content">
                <h2>Digital Marketing</h2>
                <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Odit nobis quae corrupti,
                culpa quasi nisi!</p>
            </div>
        </div>
        <div class="serviceBox">
            <div class="icon flex-center" style='--i:#37ba82'>
                <mat-icon>manage_accounts</mat-icon>
            </div>
            <div class="content">
                <h2>Games Development</h2>
                <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Odit nobis quae corrupti,
                culpa quasi nisi!</p>
            </div>
        </div>
        <div class="serviceBox">
            <div class="icon flex-center" style='--i:#cd57ff'>
                <mat-icon>videocam</mat-icon>
            </div>
            <div class="content">
                <h2>Video editing</h2>
                <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Odit nobis quae corrupti,
                culpa quasi nisi!</p>
            </div>
        </div>
    </div>
</main>
