<main>
    <section>
        <div class="container">
            <div class='contactInfo'>
                <div>
                    <h2>Contact Info</h2>
                    <ul class="info">
                      
                        <li>
                            <span><i class='fas fa-map-marker-alt'></i></span>
                            <span>2912 Greater East<br>
                            Los Angeles, CA<br>
                        90017</span>
                        </li>
                        <li>
                            <span><i class='far fa-envelope'></i></span>
                            <span>user@gmail.com</span>
                        </li>
                        <li>
                            <span><i class='fas fa-phone-alt'></i></span>
                            <span>412-312-9800</span>
                        </li>
                    </ul>
                </div>
                <ul class="sci">
                    <li><a href="facebook"><i class='fab fa-facebook-f'></i></a></li>  
                    <li><a href="twitter"><i class='fab fa-twitter'></i></a></li>  
                    <li><a href="instagram"><i class='fab fa-instagram'></i></a></li> 
                    <li><a href="youtube"><i class='fab fa-youtube'></i></a></li>  
                    <li><a href="linkedin"><i class='fab fa-linkedin-in'></i></a></li>     
                </ul>
            </div>
            <div class="contactForm">
                <h2>Send a Message</h2>
                <div class="formBox">
                    <div class="inputBox w50">
                        <input type="text" name='' required>
                        <span>First Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name='' required>
                        <span>Last Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="email" name='' required>
                        <span>Email Address</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name='' required>
                        <span>Mobile Number</span>
                    </div>
                    <div class="inputBox w100">
                       <textarea name="" required></textarea>
                        <span>Write your message here...</span>
                    </div>
                    <div class="inputBox w100">
                      <input type="submit" value='Send'>
                     </div>
                </div>
            </div>
        </div>
    </section>
   
</main>
