<mat-nav-list>
  <ng-container>
    <a
      mat-list-item
      routerLink="/auth"
      (click)="onClose()"
      *ngIf="!(isAuth$ | async)"
    >
      <mat-icon>add_circle</mat-icon>
      <span class="sidebar__nav-caption">SignUp</span>
    </a>
    <a
      mat-list-item
      routerLink="/auth"
      (click)="onClose()"
      *ngIf="!(isAuth$ | async)"
    >
      <mat-icon>login</mat-icon>
      <span class="sidebar__nav-caption">SignIn</span>
    </a>
    <a
    mat-list-item
    routerLink="/about"
    (click)="onClose()"
  >
    <mat-icon>info</mat-icon>
    <span class="sidebar__nav-caption">About Us</span>
  </a>
    <a
    mat-list-item
    routerLink="/admin"
    (click)="onClose()"
    *ngIf="isAuth$ | async"
  >
    <mat-icon>admin_panel_settings</mat-icon>
    <span class="sidebar__nav-caption">Admin</span>
  </a>
  <a
  mat-list-item
  routerLink="/products"
  (click)="onClose()"
>
  <mat-icon>inventory</mat-icon>
  <span class="sidebar__nav-caption">Products</span>
</a>
<a
mat-list-item
routerLink="/service"
(click)="onClose()"
>
<mat-icon>support_agent</mat-icon>
<span class="sidebar__nav-caption">Services</span>
</a>
<a
mat-list-item
routerLink="/contact"
(click)="onClose()"
>
<mat-icon>contact_mail</mat-icon>
<span class="sidebar__nav-caption">Contact</span>
</a>
    <a
      mat-list-item
      [routerLink]="['/profile']"
      (click)="onClose()"
      *ngIf="isAuth$ | async"
    >
      <mat-icon>face</mat-icon>
      <span class="sidebar__nav-caption">Profile</span>
    </a>
    <mat-list-item *ngIf="isAuth$ | async">
      <button mat-icon-button (click)="onSignOut()">
        <mat-icon>logout</mat-icon>
        <span class="sidebar__nav-caption">SignOut</span>
      </button>
    </mat-list-item>
  </ng-container>
</mat-nav-list>
