<h1>ProBiz Solution Products</h1>

<div>
  <div class="top-row">
    <div class="top-row--filter">
      <label id="top-row--filter-select-label" class="top-row--filter-select-label">Filter By: </label>
      <mat-radio-group
        aria-labelledby="top-row--filter-select-label"
        class="top-row--filter-select"
        (change)="filterByCategory($event.value)">
        <mat-radio-button class="top-row--filter-select-button" value="brand">Brand</mat-radio-button>
        <mat-radio-button class="top-row--filter-select-button" value="type">Type</mat-radio-button>
        <mat-radio-button class="top-row--filter-select-button" value="" checked>No Filter</mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="top-row--filter-input" *ngIf="filterCategory">
        <mat-label>Select {{filterCategory}}</mat-label>
        <input matInput type='text' [matAutocomplete]="auto"  [formControl]="categoryFormControl" placeholder="Type name to filter">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option"
          (onSelectionChange)="categorySelected($event, option)">
            {{option.viewValue}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="top-row--select">
      <mat-form-field>
        <mat-label>Sort Products</mat-label>
        <mat-select (selectionChange)="sortProductsByColumn($event.value)" placeholder="Sort By" #sortBy>
          <mat-option value="createdOn">Newest</mat-option>
          <mat-option value="price">Price</mat-option>
          <mat-option value="discount">Discount</mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Order</mat-label>
        <mat-select (selectionChange)="sortProductsByOrder(sortBy.value, $event.value)" placeholder="Order">
          <mat-option value="asc">Ascending</mat-option>
          <mat-option value="desc">Descending</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
</div>
<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  <ng-container *ngIf="(products$ | async)?.length > 0  && !(isLoading$ | async)  ; else elseTemplate">
    <div class="product-grid">
      <public-product-item
        *ngFor="let product of products$ | async"
        [product]="product"
        [buttons]="[false, true, false, true]"
      ></public-product-item>
    </div>
    <!-- <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="productCount$ | async"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex"
      [showFirstLastButtons]="showFirstLastButtons"
    >
    </mat-paginator> -->
  </ng-container>
  <ng-template #elseTemplate >
    <div class="empty-div" *ngIf="!(isLoading$ | async)">No Products</div>
  </ng-template>
</div>
