<h2 mat-dialog-title class="title">
  {{ add ? "Increase Product Qty" : "Decrease Product Qty" }}
</h2>

<ng-container *ngIf="isLoading$ | async; else elseTemplate">
  <div class="u__center">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="dialog-container">
    <mat-dialog-content [formGroup]="form">
      <mat-form-field hintLabel="Must be a number" appearance="outline">
        <input matInput 
         placeholder="Quantity"
         formControlName="count"
         required 
         type="number"/>
         <mat-error>Number must be between {{min}} and {{max}}</mat-error>
      </mat-form-field>
    </mat-dialog-content>
  
    <mat-dialog-actions>
      <button mat-raised-button color="warn" (click)="close()">Close</button>
  
      <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">Save</button>
    </mat-dialog-actions>
  </div>
  
</ng-template>


