mat-sidenav-container{
  position: relative;
  height: calc(100% - 11vh);
  min-height: calc(100% - 6rem);
}

mat-sidenav {
  width: 15%;
  min-width: 10rem;
  // margin-top: 4.8rem;
}
main{
  position: relative;
  height: 100%;
}


