<mat-card class="main-card">
    <mat-card-header>
        <mat-card-title>Mega Power Car Services</mat-card-title>
        <mat-card-subtitle>Care for your Automobile</mat-card-subtitle>
    </mat-card-header>
    <!-- <img matCardImage src="https://firebasestorage.googleapis.com/v0/b/mega-power-fea8a.appspot.com/o/car_service.jpg?alt=media&token=c7b5848e-a261-4b43-938e-24943c8a5a1d"> -->
    <img matCardImage src="assets/img/car_service.jpg">
    <mat-card-content>
       <p>Specialist in Car Care, Denting, Washing, Repair etc.</p>
    </mat-card-content>
    <!-- <mat-card-actions align="start">
        <button mat-button (click)="onAction1">Action1</button>
        
    </mat-card-actions> -->
    <mat-card-footer>
        @Owner Anmol Singh
    </mat-card-footer>
</mat-card>
