<mat-card class="product-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="product-card-header-image"></div> -->
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.makeView }}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="/assets/images/face.jpg" alt="{{ product.title }}" /> -->
  <div class="imgBx">
    <img
    mat-card-image
    src="{{ product.photoURL }}"
    alt="{{ product.name }}"
  />
  </div>

  <mat-card-content>
    <div class="group">
      <div class="item">
        <h4>Type</h4>
        <p>{{ product.typeView }}</p>
      </div>
      <div class="item">
        <h4>Sub-Type:</h4>
        <p>{{ product.subTypeView }}</p>
      </div>
    </div>
    <ng-container *ngIf="product.discountValue > 0; else noDiscount">
      <div class="group space">
        <h2>&#x20b9; {{(product.price * product.discountValue)/100}}</h2>
        <h2 class="strike">&#x20b9; {{product.price}}</h2>
        <h2 class="green">{{product.discountValue}}% off</h2>
      </div>
      <div class="group start">
        <h2 class="green">{{product.discountDesc}}</h2>
      </div>
    </ng-container>
    <ng-template #noDiscount>
      <div class="group end">
        <h2>&#x20b9; <small>{{product.price}}</small></h2>
      </div>
    </ng-template>
    

  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="buttons[0]" mat-stroked-button (click)="onEdit()">
      Edit
    </button>
    <button
      *ngIf="buttons[1]"
      mat-stroked-button
      color="primary"
      [routerLink]="['/products', product.id]"
    >
      Detail
    </button>
    <button
      *ngIf="buttons[2]"
      mat-stroked-button
      color="warn"
      (click)="onDelete()"
    >
      Delete
    </button>
    <button
      *ngIf="buttons[3]"
      mat-stroked-button
      color="primary"
      (click)="addToCart()"
    >
      Add to Cart
    </button>
  </mat-card-actions>
</mat-card>
