
  
  .mat-card-actions {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
  }

  h4{
    color: #505050;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1em;
}
 p{
  color: #808080;
  opacity: 0.85;
  font-size: 0.8em;
}
.group{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .strike{
    text-decoration: line-through;
    color: #909090;;
  }
  .green{
    color: green;
  }

}

.group h2{
  color: #212121;
  font-weight: 600;
  font-size: 1.25em;
}
.group h2 small{
  font-size: 0.95em;
}
.group.end{
  justify-content: flex-end;
}
.group.start{
  justify-content: flex-start;
}
.group.space{
  justify-content: flex-start;
  h2{
    margin-left: 0.5em;
  }
}


  